.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    

    img {
        max-width: 250px;
        align-self: center;
        background-color: var(--project-card-gb);
        border-radius: 20px;
    }

    a{
        width: fit-content;
        text-decoration: none;
        color: #fff;
        transition: transform 200ms ease-in-out;
    }
    a:hover{
        transform: scale(1.05);
    }


}

.projectsContainer{
    
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a{
        width: 250px;
    }
    
    
}

@media(width >= 800px){
    .projectsContainer{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-evenly;
        padding: 0 30px;
    }
}